
*{
    padding: 0;
    margin: 0;
}
#hero
{
        background-image:linear-gradient(0deg, 
        rgb(9, 9, 9) 3.482%,
        rgba(16, 16, 16, 0) 101.632%),
        url('hero-bg.png');
        
             height: 919px;
             width: auto;
             margin: 0px;
            padding: 0px;
            background-size: cover;
            background-position: center;
            align-items: center;
            justify-content: center;
            display: flex;     
            gap: 20px;       
    
}
#hero .hero-content{
    width: 1000px;
}
#hero .hero-content .subtitle
{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
    opacity: 0.8;

}
#hero .hero-content .title
{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
}
#hero .hero-content  .discription{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.btn-container{
    text-align: center;
}
.btn
{
    padding: 21px 32px 21px 32px;
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
border: none;
background: rgb(82, 195, 3);
cursor: pointer;
}



#card-box
{
 
width:1320px ;
margin: 100px auto;
}


#card-box .title{
color: rgb(19, 10, 10);
font-family: Work Sans;
font: size 30px; ;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
}


#card-box .subtitle
{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}

/* .#card-box .info */
/* { */

/* } */

.card-container{
    margin-top: 30px ;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: Work Sans;
}
.card{
    max-width: 300px;
    display: flex; 
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card .image-box{
    width: 300px ;
}

.card .image-box img{
    width: 100%;
}
.card .shop
{

  padding: 14px 32px 14px 32px;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
}































